apiVersion: v1
kind: Service
metadata:
  name: ratings
  namespace: three-tier-demo
  labels:
    app: ratings
spec:
  selector:
    app: ratings
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings
  namespace: three-tier-demo
  labels:
    app: ratings
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ratings
  template:
    metadata:
      labels:
        app: ratings
    spec:
      containers:
        - name: ratings
          image: "robotshop/rs-ratings:latest"
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: MONGO_HOST
              value: "mongodb"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
         # livenessProbe:
          #  httpGet:
           #   path: /
            #  port: http
           # initialDelaySeconds: 20
           # periodSeconds: 10
          #readinessProbe:
          #  httpGet:
           #   path: /
           #   port: http
           # initialDelaySeconds: 10
           # periodSeconds: 5
