apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: three-tier-demo
  labels:
    app: mysql
spec:
  selector:
    app: mysql
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
  type: ClusterIP
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-credentials
  namespace: three-tier-demo
type: Opaque
stringData:
  MYSQL_USER: robot
  MYSQL_PASSWORD: robotshop
  MYSQL_ROOT_PASSWORD: rootpassword
  MYSQL_DATABASE: robotshop
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: three-tier-demo
  labels:
    app: mysql
spec:
  serviceName: mysql
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: "robotshop/rs-mysql-db:latest"
          ports:
            - containerPort: 3306
              name: mysql
          envFrom:
            - secretRef:
                name: mysql-credentials
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
         # livenessProbe:
         #   tcpSocket:
         #     port: mysql
         #   initialDelaySeconds: 30
         #   periodSeconds: 10
         # readinessProbe:
         #   tcpSocket:
         #     port: mysql
         #   initialDelaySeconds: 10
         #   periodSeconds: 5
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
        # storageClassName: gp3
