apiVersion: v1
kind: Service
metadata:
  name: cart
  namespace: {{ .Values.namespace }}
  labels:
    app: cart
    app.kubernetes.io/name: cart
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: robot-shop
spec:
  type: ClusterIP
  selector:
    app: cart
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
  namespace: {{ .Values.namespace }}
  labels:
    app: cart
    app.kubernetes.io/name: cart
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: robot-shop
spec:
  replicas: {{ .Values.cart.replicas }}
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
        app.kubernetes.io/name: cart
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/part-of: robot-shop
    spec:
      containers:
        - name: cart
          image: "{{ .Values.cart.image }}:{{ .Values.cart.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: REDIS_HOST
              value: "redis"
          resources:
            {{- toYaml .Values.resources.small | nindent 12 }}