apiVersion: v1
kind: Service
metadata:
  name: ratings
  namespace: {{ .Values.namespace }}
  labels:
    app: ratings
    app.kubernetes.io/name: ratings
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: robot-shop
spec:
  type: ClusterIP
  selector:
    app: ratings
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings
  namespace: {{ .Values.namespace }}
  labels:
    app: ratings
    app.kubernetes.io/name: ratings
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: robot-shop
spec:
  replicas: {{ .Values.ratings.replicas }}
  selector:
    matchLabels:
      app: ratings
  template:
    metadata:
      labels:
        app: ratings
        app.kubernetes.io/name: ratings
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/part-of: robot-shop
    spec:
      containers:
        - name: ratings
          image: "{{ .Values.ratings.image }}:{{ .Values.ratings.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: MYSQL_HOST
              value: "mysql"
          resources:
            {{- toYaml .Values.resources.small | nindent 12 }}