apiVersion: v1
kind: Service
metadata:
  name: shipping
  namespace: {{ .Values.namespace }}
  labels:
    app: shipping
    app.kubernetes.io/name: shipping
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: robot-shop
spec:
  type: ClusterIP
  selector:
    app: shipping
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping
  namespace: {{ .Values.namespace }}
  labels:
    app: shipping
    app.kubernetes.io/name: shipping
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: robot-shop
spec:
  replicas: {{ .Values.shipping.replicas }}
  selector:
    matchLabels:
      app: shipping
  template:
    metadata:
      labels:
        app: shipping
        app.kubernetes.io/name: shipping
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/part-of: robot-shop
    spec:
      containers:
        - name: shipping
          image: "{{ .Values.shipping.image }}:{{ .Values.shipping.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: MYSQL_HOST
              value: "mysql"
          resources:
            {{- toYaml .Values.resources.small | nindent 12 }}